:root {
--container-width: 90vw;
--container-height: 45vw;
--color-container-border: 5px solid black;
--container-border-radius: 5px;
}

.container {
border: var(--color-container-border);
border-radius: var(--container-border-radius);
width: var(--container-width);
height: var(--container-height);
display: grid;
grid-template-columns: 1fr 4fr 1fr;
margin: auto;
}

.leftSide {
background-color: rgb(170, 0, 0);
}

.leftGrids1 {

}

#powerLight {

}

.leftGrids2 {

}

.arrows {
/* color: aliceblue; */
margin: auto;
display: grid;
align-items: center;
justify-content: center;
color: wheat;
}

#arrowUp {
    /* color: aliceblue; */
/*   
    background-color: rgb(0, 3, 2);
    height: 20px;
    width: 50px; */
    color: blue;


}

#arrowDown {

}

#arrowLeft {

}

#arrowRight {

}

.leftGrids3 {

}

#label {
        
}

.display {
outline: 5px solid black;
border-radius: 2px;
position:relative;
}
.display video {
position:absolute;
width: 100%;
height: 100%;
object-fit:fill;
}

.rightSide {
background-color: rgb(0, 0, 170);
display: grid;
grid-template-rows: 1fr 1fr 1fr;
}

.rightGrids1 {
/* background-color: yellow;
border: 2px solid orangered; */
margin: auto;

}

.principalButtons {

}

#startButton,
#pauseButton {
    background-color: rgb(0, 1, 4);
    border-radius:10px;
    width: 30px;
    height: 10px;
    margin: auto;
    box-shadow: 0px 0px 1px 1px rgba(120, 115, 249, 0.508);


}

#labelButtons {
color: rgb(146, 146, 147);
display: flex;
justify-content: center;
font-size: 10px;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.rightGrids2 {

}

#touchPad {
background-color: rgba(9, 15, 55, 0.23);
border-radius:10px;
width: 80%;
height: 80%;
margin: auto;
box-shadow: 0px 0px 1px 1px rgba(119, 115, 249, 0.17);
}

.rightGrids3 {
color:white;
/* background-color: black; */
/* border: 1px solid white; */
display: grid;
grid-template: 4fr 1fr 4fr / 4fr 1fr 4fr;
margin: 12px 12px 12px 12px;
}

.buttons {
display: flex;
justify-content: center;
align-items: center;
/* margin: ; */
/* HACE UNA CRUZ EN MEDIO DE LOS BOTONES
background-color: black; */
}

#buttonY,
#buttonX,
#buttonB,
#buttonA {
background-color: rgb(5, 0, 0);
border-radius: 50px;
box-shadow: 0px 0px 2px 1px rgba(120, 115, 249, 0.508);
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#buttonY {
color: rgba(46, 215, 20, 0.76);
}

#buttonX {
color: rgb(22, 16, 217);
}

#buttonB {
color: rgba(203, 220, 20, 0.923);
}

#buttonA {
color: crimson;
}


